<div class="jumbotron" style = "text-align: center;">
  <h2>Hôm nay có món gì ngon??</h2>
  </div>
  <div class ="row">
    <% Post.all.each do |post|%>
    <div class="col-sm-4">
    <h4><%=post.title%></h4>
    <p><%= truncate(post.content,length:150)%></p>
    <%= link_to'Read more',post_path(post)%>
    </div>
    <%end%>
    
  </div>
